@using System.Data.Entity.ModelConfiguration.Conventions
@using System.Diagnostics.Eventing.Reader
@using SeoSearcher.Models
@model SeoSearcher.Models.ViewModels.SeoSearchResultsViewModel
@{
    ViewBag.Title = "Results";
}

<style>
    .primay-color {
        color: blue;
    }
</style>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-sm pull-right ">
    << Back
</a>

<h3>
    SEO keywords:
    <span class="text-primary">
        "@Model.SeoSearch.KeyWords"
    </span>
</h3>

<h3>
    Top
    @Model.SeoSearch.MaxResults
    rankings for
    <span class="text-primary">
        @Model.SeoSearch.TargetUrl
    </span>
    as of
    <span class="text-nowrap">
        @Model.SeoSearch.DateRun.ToLongDateString()
    </span>
</h3>
@if (!Model.TargetUrlRankings.Any())
{
    <span class="col-md-2 text-danger h3">None!</span>

}
else
{
    <div class="row">

        @foreach (var ranking in Model.TargetUrlRankings)
        {
            <span class="col-md-1 text-success h3">
                #@Html.DisplayFor(modelItem => ranking)
            </span>
        }
    </div>
    <hr />
    <button class="btn btn-primary btn-md col-md-12 clearfix" data-toggle="collapse" data-target="#FullResults">
        Toggle Full Results
    </button>

    <div id="FullResults" class="collapse clearfix">
        <table class="table-striped table-hover col-md-12">

            @foreach (var result in Model.SeoSearch.Results.OrderBy(x => x.Rank))
            {
                <tr class="full-results">
                    <td class="col-md-1 lead">
                        @Html.DisplayFor(modelItem => result.Rank)
                    </td>
                    <td class="col-md-11">
                        <a href="@result.FullUrl">@result.FullUrl</a>
                    </td>
                </tr>
            }
        </table>
    </div>

}

