@model SeoSearcher.Models.ViewModels.SeoSearchResultsViewModel
@{
    ViewBag.Title = "SeoSearch";
}

<style>
    .primay-color {
        color: blue;
    }
</style>

<h2>
    SEO keywords:
    <span class="text-primary">
        "@Model.SeoSearch.KeyWords"
    </span>
</h2>

<h2>
    Top
    @Model.SeoSearch.MaxResults
    rankings for
    <span class="text-primary">
        @Model.SeoSearch.TargetUrl
    </span>
    as of
    <span class="text-nowrap">
        @Model.SeoSearch.DateRun.ToLongDateString()
    </span>
</h2>
@if (!Model.TargetUrlRankings.Any())
{
    <span class="col-md-2 text-danger h2">None!</span>

}
else
{
    <div class="row">

        @foreach (var ranking in Model.TargetUrlRankings)
        {
            <span class=" col-md-1 text-success h2">
                #@Html.DisplayFor(modelItem => ranking)
            </span>
        }
    </div>
    <hr />
    <button class="btn btn-primary btn-md col-md-12 clearfix" data-toggle="collapse" data-target="#FullResults">
        Toggle Full Results
    </button>

    <div id="FullResults" class="collapse clearfix">
        <table class="table-striped table-hover col-md-12">

            @foreach (var result in Model.SearchResults.OrderBy(x => x.Rank))
            {
                <tr class="full-results">
                    <td class="col-md-1 lead">
                        @Html.DisplayFor(modelItem => result.Rank)
                    </td>
                    <td class="col-md-11">
                        <a href="@result.FullUrl">@result.FullUrl</a>
                    </td>
                </tr>
            }
        </table>
    </div>

}






</div>