@using SeoSearcher.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SeoSearcher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        a.no-link-decoration {
            text-decoration: none;
            color: inherit;
        }
    </style>

</head>
<body>

    <div class="jumbotron">
        <div class="container body-content ">
            <div class="">
                <h1>
                    <a href="@Url.Action("Index", "Home")" class="no-link-decoration">
                        SeoSearcher
                    </a>
                </h1>
            </div>
                <a class="btn btn-primary btn-lg" href="@Url.Action("RunFavourite", "SeoSearch")">
                    @*@Html.ActionLink("Favourite", "SeoSearch", "SeoSearch")"*@
                    <span class="lead">Run favorite Seo Search &raquo;</span>
                </a>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
